body {
  background-color: rgb(243, 220, 188);
}

ul {
  position: relative;
  left: 365px;
  top: -125px;
  padding: 0;
}

li {
  list-style-type: none;
}

li:hover {
  cursor: pointer;
  color: rgb(228, 203, 167);
  font-style: italic;
}

h2,
.question,
#listy {
  font-family: "Nunito Sans", sans-serif;
}

#main-container {
  max-width: 500px;
  margin: 0 auto;
}

#main-section {
  background-color: rgb(190, 153, 122);
  padding: 20px 0 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

#main-section h1,
h2,
.question {
  text-align: center;
}

#footer {
  text-align: center;
  font-size: small;
}

/* #spaghetti-sprite {
  font-size: 150px;
  text-align: center;
  margin-left: 100px;
  margin-top: 50px;
} */

#sprite {
  display: block;
  margin-left: 90px;
  margin-top: 50px;
  max-height: 150px;
}

#lorem {
  line-height: 1.5;
  padding: 0 20px;
  font-family: "Nunito Sans", sans-serif;
  text-align: center;
}
