body {
  background-color: rgb(243, 220, 188);
}

ul {
  /* position: relative;
  top: -30px;
  left: 325px; */
  padding: 0;
}

li {
  list-style-type: none;
}

#main-container {
  max-width: 500px;
  margin: 0 auto;
}

#main-p {
  font-family: "Nunito Sans", sans-serif;
}

#main-section {
  background-color: rgb(190, 153, 122);
  text-align: center;
}

#footer {
  text-align: center;
  font-size: small;
}
